<?xml version="1.0"?>

<model>
    <name>iCubGazeboSimpleCollisionsV2_5</name>
    <version>1.0</version>
    <sdf>icub_simple_collisions.urdf</sdf>

    <author>
        <name>Paolo Maria Viceconte</name>
        <email>paolo.viceconte@iit.it</email>
    </author>

    <description>
        Model of the iCub humanoid robot, with simplified collision meshes. For more information check icub.org.
    </description>
</model>
