<?xml version="1.0"?>
<model>
    <name>Panda</name>

    <version>1.0</version>
    <sdf version='1.6'>Panda.urdf</sdf>

    <author>
        <name>Paolo Maria Viceconte</name>
        <email>paolo.viceconte@iit.it</email>
    </author>

    <description>
        URDF model of a Panda robot.
    </description>
</model>
