<?xml version="1.0"?>
<model>
    <name>Character</name>

    <version>1.0</version>
    <sdf version='1.6'>character.urdf</sdf>

    <author>
        <name>Diego Ferigo</name>
        <email>diego.ferigo@iit.it</email>
    </author>

    <description>
        Humanoid-like character.
    </description>
</model>
